@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --main-color: #1a1c1d;
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #919191;
}

body{
    width: 30vw;
    margin: 0 auto;
    background-color: var(--main-color);
    color:var(--text-color);
    font-family: 'Open Sans';
    color: var(--secondary-text-color);
}

.primed{
    color: var(--primary-text-color);
}
nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: var(--secondary-text-color);
}

nav a:hover{
    color: white;
}

li#logo{
    flex: 1;
}

li#mode{
    flex-basis: auto;
}

ul#primary-nav-list{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

h1{
    padding-top: 5vh;
    color: var(--main-text-color);
    margin-bottom: 0;
    color: var(--primary-text-color);
}

section.top-section > p#caption{
    margin-top: 0;
}

img#pfp{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

div#top-section-layout{
    display: flex;
    flex-direction: row;
}

div#top-section-layout > ul {
    list-style-type: none;
}

p#intro{
    color: var(--primary-text-color);
}

div#top-section-layout > ul li img{
    width: 14px;
    height: 14px;
    padding-right: 0.5em;
}
div#top-section-layout > ul li{
    margin-top: 0;
    padding-bottom: 0.3em;
}

p#connect-home{
    display: flex;
    flex-direction: row;
    gap: 1em;
}