@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --main-color: #131313;
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #919191;
    --button-bg-color: #2e2e2e ;
}

body{
    width: 800px;
    margin: 0 auto;
    background-color: var(--main-color);
    color:var(--text-color);
    font-family: 'Open Sans';
    color: var(--secondary-text-color);
}

.primed{
    color: var(--primary-text-color);
}

ul{
    list-style-type: none;
    padding-left: 0;
}

nav a{
    text-decoration: none;
    color: var(--secondary-text-color);
}

nav a:hover{
    color: white;
}

li#logo{
    flex: 1;
}

li#mode{
    flex-basis: auto;
}

ul#primary-nav-list{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

h1{
    padding-top: 5vh;
    color: var(--main-text-color);
    margin-bottom: 0;
    color: var(--primary-text-color);
}

section.top-section > p#caption{
    margin-top: 0;
}

img#pfp{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

div#top-section-layout{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

div#top-section-layout > ul {
    list-style-type: none;
}

p#intro{
    color: var(--primary-text-color);
}

div#top-section-layout > ul li img{
    width: 14px;
    height: 14px;
    padding-right: 0.5em;
}
div#top-section-layout > ul li{
    margin-top: 0;
    padding-bottom: 0.3em;
}

p#connect-home{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

p#connect-home a{
    text-decoration: none;
    color: var(--secondary-text-color);
}

p#connect-home a:hover{
    color: var(--primary-text-color);
}


@media screen and (max-width: 700px) {
    body{
        width: 80vw;
    }
}

@media screen and (max-width: 440px) {
    body{
        width: 390px;
    }

    img#pfp{
        width: 90px;
        height: 90px;
    }

    div#top-section-layout > ul {
        margin-top: 0.5em;
    }
}

@media screen and (min-width: 360px)and (max-width: 400px) {
    body{
        width: 360px;
    }

    img#pfp{
        width: 90px;
        height: 90px;
    }

    div#top-section-layout > ul {
        margin-top: 0.5em;
    }
}

ul.gear-list img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    float: left;
}

ul.gear-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-bottom: 5em;
}

ul.gear-list > li p.desc{
    font-size: 11pt;
    margin-top: 0;
}

ul.gear-list p{
    margin-bottom: 0;
    margin-left: 10px;
}

ul.gear-list > li p{
    clear: right;
}

ul.gear-list > li p.primed{
    font-weight: lighter;
}

button.get-b{
    border-radius: 15px;
    width: 50px;
    height: 25px;
    margin-top: 1em;
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    border: none;
}

div.gear-list-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#first-it{
    flex: 1;
}


section > p.sec-title{
    padding-bottom: 2em;
}

section.top-section{
    margin-bottom: 5em;
}